@using SisAt.Models.ViewModel
@model RecuperarSenhaViewModel;
@{
    ViewData["Title"] = "Recuperar Senha";
}
<section class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <aF><b>SIS</b>AT</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Você esqueceu sua senha? Aqui você pode facilmente recuperar uma nova senha.</p>
                <form asp-action="RecuperarSenha" asp-controller="Home" method="post">
                    <div class="input-group mb-3">
                        <input type="email" asp-for="Email" id="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count() > 0 ? "is-invalid" : "")" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "invalid-feedback" })
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark btn-block">Solicitar nova senha</button>
                        </div>
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a class="text-dark" asp-action="Index" asp-controller="Home">Login</a>
                </p>
                <p class="mb-0">
                    <a class="text-dark" asp-action="RegistrarUsuario" asp-controller="Home" class="text-center">Registrar novo usuário</a>
                </p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        var toastrMessage = TempData["Error"] as string;
        var toastrMessageSuccess = TempData["Sucesso"] as string;
    }

    @if (!string.IsNullOrEmpty(toastrMessage))
    {
        <script>
            toastr.error('@toastrMessage', 'Erro', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(toastrMessageSuccess))
    {
        <script>
            toastr.success('@toastrMessageSuccess', 'Sucesso.', {
                closeButton: true,
                progressBar: true
            });

            $(document).ready(function () {
                $("#Email").val('');
            });
        </script>
    }
}