
@media print {

    @page {
        size: 80mm auto;
        margin: 0;
    }

    body
    {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        width: 80mm;
        background: none;
    }

    #conteudo-impressao {
        width: 80mm;
        padding: 10mm;
        box-sizing: border-box;
    }

    .form-group {
        margin-bottom: 5mm;
    }

    label {
        font-size: 14px;
        display: block;
        margin-bottom: 2mm;
    }

    .form-group label {
        font-weight: normal;
    }

    button {
        display: none;
    }

    .print {
        display: block;
    }

    .no-print {
        display: none;
    }
}
