
@media print {

    @page {
        size: 80mm auto !important;
        margin: 0 !important;
        ;
    }

    .modal-body {
        font-family: Arial, sans-serif !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 80mm !important;
        background: none !important;
    }

    #conteudo-impressao {
        width: 80mm !important;
        padding: 10mm !important;
        box-sizing: border-box !important;
    }

    .form-group {
        margin-bottom: 5mm !important;
    }

    label {
        font-size: 14px !important;
        display: block !important;
        margin-bottom: 2mm !important;
    }

    .form-group label {
        font-weight: normal !important;
    }

    button {
        display: none !important;
    }

    .print {
        display: block !important;
    }

    .no-print {
        display: none;
    }
}
